.container {
    max-width: 500px;
    min-width: 400px;
}

.thumbnailContainer {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.container>img {
    border-radius: 12px;
    width: 100%;
    margin-bottom: 30px;
}

.container>img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.thumbnailContainer img {
    width: 100px;
    border-radius: 12px;
    box-sizing: border-box;
    transition: all .2s ease-out;
    cursor: pointer;
}

.active {
    filter: opacity(50%);
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px #565c7499;
}