.container {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #292b31d8;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    display: flex;
    flex-direction: column;
}

.icon {
    color: hsl(26, 100%, 55%);
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
}