.container {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.textContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.link {
    cursor: pointer;
}

.img {
    width: 60px;
    border-radius: 6px;
}

.boldText {
    font-weight: 700;
    color: #000;
    margin-left: 10px;
}

.textContainer p {
    line-height: 28px;
    box-sizing: border-box;
    width: 220px;
    padding: 0 15px;
    font-size: 1.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button {
    margin-left: auto;
    color: hsl(231, 19%, 81%);
    cursor: pointer;
}

.button:hover {
    color: hsl(231, 11%, 66%)
}

.button:active {
    color: hsl(231, 19%, 81%);
}