@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* CSS RESET */
body, h1, h2, p, div, ul, li, button, a, header, img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: hsl(219, 9%, 45%);
    cursor: default;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.6rem;
}

/* BASE 10 */
html {
    font-size: 62.5%;
}